// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
// UNCOMMENT THIS IF YOU WANT TO SEE THE BACKGROUND MAP
//startupmenu

sv_unlockedchapters 99
