# cache
cache/*
maps/soundcache/*
maps/graphs/*
materials/temp/*
sound/temp/*
sound.cache
*.sound.cache
*.ent
*.pdb
*.dbg
*.ain
modelsounds.cache
Gamestate.txt

# crash dumps
*.dmp

# config files
cfg/sourcemod/*
cfg/autoexec_user.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/config.cfg
cfg/server_blacklist.txt
cfg/server.cfg
cfg/server2.cfg
cfg/server3.cfg
cfg/mapcycle.txt
cfg/mapcycleconfig.txt
cfg/user.scr
cfg/settings.scr
settings/admins.txt
ServerConfig.vdf

# logs
logs/*
console.log

# demo records
*.dem

# user stuff
*.ain
Gamestate.txt
custom/*
download/*
downloadlists/*
SAVE/*
screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
tf2_playerstats.dmx
ep1_playerstats.dmx
ep2_playerstats.dmx
media/viewed.res
scripts/tf_inventory.txt

# source plugins
addons/*

# faceposer stuff
expressions/*
media/viewed.res

vpks
materials/vgui/logos/*
materials/vgui/logos/ui/*
materials/vgui/logos/ui/spray.vmt
*.sfk
results/results.txt
cfg/server_blacklist.txt
cfg/config.cfg
tf2_playerstats.dmx
sound/sound.cache
modelsounds.cache
GameState.txt
demoheader.tmp
cfg/config.cfg
cfg/config.cfg
demoheader.tmp
modelsounds.cache
sound/sound.cache
tf2_playerstats.dmx
scripts/tf_inventory.txt
cfg/user.scr
cfg/user.scr
cfg/user.scr
bin/tools/Crowbar.exe
cfg/server_blacklist.txt
tf_coop_lambda_gamestats.dat
*.ztmp
