# cache
cache/*
maps/soundcache/*
maps/graphs/*
materials/temp/*
sound/temp/*
sound.cache
*.sound.cache
modelsounds.cache
Gamestate.txt

# crash dumps
*.dmp

# config files
cfg/sourcemod/*
cfg/autoexec_user.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/config.cfg
cfg/server_blacklist.txt
cfg/server.cfg
cfg/user.scr
cfg/user.cfg
cfg/settings.scr
settings/admins.txt
ServerConfig.vdf

# logs
logs/*
console.log

# demo records
*.dem

# user stuff
*.ain
Gamestate.txt
custom/*
download/*
downloadlists/*
SAVE/*
screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
tf2_playerstats.dmx
ep1_playerstats.dmx
ep2_playerstats.dmx
media/viewed.res
scripts/tf_inventory.txt

# source plugins
addons/*

# faceposer stuff
expressions/*
media/viewed.res

materials/vgui/logos/*
materials/vgui/logos/ui/*
materials/vgui/logos/ui/spray.vmt

*.sfk
results/results.txt
cfg/server_blacklist.txt
tf2_playerstats.dmx
demoheader.tmp
cfg/config.cfg
